.github {
    color: black;
}

.github:hover {
    color: #4793AF;
}

.linkedin {
    color: black;
}

.linkedin:hover {
    color: #FFC470;
}

.email {
    color: black;
}

.email:hover {
    color: #4793AF;
}

.resume {
    color: black;
}

.resume:hover {
    color: #FFC470;
}